/* Пам'ятка 
основний колір тексту #212121;
другорядний колір тексту #757575;
акцент #2196F3;
колір фона #E5E5E5;
другорядний фона #F5F4FA;
колір футера і героя #2F303A;
*/

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --pimary-background-color: #e5e5e5;
  --secondary-background-color: #f5f4fa;
  --hero-footer-color: #2f303a;
  --general-background-color: #ffffff;
}

body {
  background-color: var(--general-background-color);
  font-family: Roboto, sans-serif;
}

/* зміна всластивостей списка */
li {
  list-style-type: none; /* - точки на початку  */
}

/* зміна всластивостей link */
a {
  text-decoration: none; /* - нижнє підкреслення */
}

/* Шапка */
.heder {
  background-color: var(--general-background-color);
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
}

.logo-web {
  color: var(--accent-color);
}

.logo-studio {
  color: var(--primary-text-color);
}

.nav-content .link.current {
  color: var(--accent-color);
}

.nav.contact-link {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: 0.02em;
}

.link:visited {
  color: var(--primary-text-color);
}

.contact-link {
  color: var(--secondary-text-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

/* Герой секція */

.hero {
  background-color: var(--hero-footer-color);
}

.hero-text {
  color: var(--general-background-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
}

.button {
  background-color: var(--accent-color);

  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
}

/* Main blok */
/* Наші компетенції */

.main-heading {
  color: var(--primary-text-color);

  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.heading {
  color: var(--primary-text-color);

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.section-text {
  color: var(--secondary-text-color);

  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.representative {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* Наша команда */
.secondary-section {
  background-color: var(--secondary-background-color);
}

.position {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* Footer */
.footer {
  background-color: var(--hero-footer-color);

  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.logo-studio-white {
  color: var(--general-background-color);
}

address {
  font-style: normal;
}

.footer .footer-address {
  color: var(--general-background-color);
}

.contacts {
  color: rgba(255, 255, 255, 0.6);
}

/* Сторінка портфоліо */

.portfolio-section {
  background-color: var(--general-background-color);
}

.portfolio-button {
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);

  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--general-background-color);
  background-color: var(--accent-color);
}

.porthead {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.porttext {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
